@font-face {font-family: StickSerif; src:url(../material/StickSerif.woff) format('woff');}

@font-face {font-family: 'UnifrakturMaguntia';
src: local('UnifrakturMaguntia'),
url('../material/UnifrakturMaguntia.woff') format('woff'),
url('../material/UnifrakturMaguntia.ttf') format('truetype');}

.fraktur {font:1.1em/1.3em UnifrakturMaguntia,'Old English Text MT',sans-serif;margin-bottom:-1em;color:#2c2c2c;}

@font-face {font-family: 'Otfeat';
src:url('../otfeat/otfeat.eot'); src:url('../otfeat/otfeat.eot?#iefix') format('embedded-opentype'), url('../otfeat/otfeat.woff') format('woff'), url('../otfeat/otfeat.ttf') format('truetype');}

.otfeat{font:2.5em/1.3em Otfeat,sans-serif;text-indent:0;color:#2c2c2c;margin:.6em 0 -.2em;}

.aktfeat { -webkit-font-feature-settings: "smcp", "c2sc", "c2pc", "pcap", "case", "salt", "ss01", "hist", "locl", "swsh", "titl", "unic", "ornm", "ital", "subs", "sinf", "sups", "mgrk", "nalt", "tnum", "pnum", "lnum", "onum", "zero", "kern", "cpsp", "liga", "dlig", "hlig", "clig", "calt", "cswh", "ordn", "numr", "dnom", "frac", "afrc", "fina";
-moz-font-feature-settings: "smcp" 1, "c2sc" 1, "c2pc" 1, "pcap" 1, "case" 1, "salt" 1, "ss01" 1, "hist" 1, "locl" 1, "swsh" 1, "titl" 1, "unic" 1, "ornm" 1, "ital" 1, "subs" 1, "sinf" 1, "sups" 1, "mgrk" 1, "nalt" 1, "tnum" 1, "pnum" 1, "lnum" 1, "onum" 1, "zero" 1, "kern" 1, "cpsp" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "calt" 1, "cswh" 1, "ordn" 1, "numr" 1, "dnom" 1, "frac" 1, "afrc" 1, "fina" 1;
font-feature-settings: "smcp", "c2sc", "c2pc", "pcap", "case", "salt", "ss01", "hist", "locl", "swsh", "titl", "unic", "ornm", "ital", "subs", "sinf", "sups", "mgrk", "nalt", "tnum", "pnum", "lnum", "onum", "zero", "kern", "cpsp", "liga", "dlig", "hlig", "clig", "calt", "cswh", "ordn", "numr", "dnom", "frac", "afrc", "fina"; }