/* CSS zum Blog @cz+, verfasst von Gerhard Großmann */

/* Schriften: Charis Regular & Italic, czSlab */
@font-face { font-family: 'Charis';
	font-style: normal; font-weight: 400;
	src: local('Charis-Regular'), url(Charis-Rg.woff2) format('woff2');
	font-display: fallback; }
@font-face { font-family: 'Charis';
	font-style: italic; font-weight: 400;
	src: local('Charis-Italic'), url(Charis-It.woff2) format('woff2');
	font-display: swap; } /* Kursiv erst künstlich schräg stellen und irgendwann ersetzen, sobald Schriftdatei bereit */
@font-face { font-family: 'czSlab';
	font-style: normal; font-weight: bold;
	src: url(czSlab.woff2) format('woff2');
	font-display: fallback; }

/* FARBEN */
:root {
	--dotsize: .039em; --dotdistance: 0.14em; /* Header-Rasterung */
	--grau: hsl(250, 10%, 50%);
	--nebel: hsla(0, 0%, 60%, .25); --schatten: hsla(0,0%,0%,.4);

	--text: #222; --hintergrund: #fff;
	--gruen: hsl(155, 100%, 25%); --gruen2: hsl(155, 15%, 80%);
	--akzent: hsl(290, 50%, 40%); --aktiv: hsl(290, 100%, 45%);

	--opal1: hsl(155, 70%, 55%); --opal2: hsl(290, 90%, 75%);
	--opal3: hsl(25, 100%, 70%);

	--dotmask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width=".2em" height=".2em" viewBox="0 0 4 4"><path d="M-.05-.05V4H4V-.05zM1 .2a.7.7 0 0 1 .7.7.7.7 0 0 1-.7.7.7.7 0 0 1-.7-.7.7.7 0 0 1 .7-.7m2 2a.7.7 0 0 1 .7.7.7.7 0 0 1-.7.7.7.7 0 0 1-.7-.7.7.7 0 0 1 .7-.7" fill="%23fff"/></svg>'); }

@media screen and (prefers-color-scheme: dark) {
:root {
	--text: #ddd; --hintergrund: #000;
	--gruen: hsl(155, 30%, 50%); --gruen2: hsl(155, 15%, 20%);
	--akzent: hsl(290, 40%, 65%); --aktiv: hsl(290, 70%, 60%);

	--opal1: hsl(155, 50%, 30%); --opal2: hsl(290, 40%, 40%);
	--opal3: hsl(30, 40%, 30%);

	--dotmask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width=".25em" height=".25em" viewBox="0 0 4 4"><path d="M-.05-.05V4H4V-.05zM1 .2a.7.7 0 0 1 .7.7.7.7 0 0 1-.7.7.7.7 0 0 1-.7-.7.7.7 0 0 1 .7-.7m2 2a.7.7 0 0 1 .7.7.7.7 0 0 1-.7.7.7.7 0 0 1-.7-.7.7.7 0 0 1 .7-.7" fill="%23000"/></svg>'); }

h1, h2 { opacity: .85; }
img, iframe { filter: brightness(.8); }
img[src$='#invert'], /* als invertierbar markierte Bilder */
	.icon-rss::after { filter: invert(1) hue-rotate(180deg); }
}

/* GRUNDSÄTZLICHES LAYOUT */

*, ::before, ::after { box-sizing: border-box; }
html { font: 400 1.15em/1.7 Charis,Charter,'Bitstream Charter','Sitka Text',Cambria,serif; font-variant: oldstyle-nums;
	font-size: clamp(1.05rem, 0.97rem + 0.3vw, 1.15rem);
	/* wächst von 1.05rem (bei ca. 425px) auf 1.15rem (bei 960px) */ }
body { margin: 0; padding: 0; accent-color: var(--gruen);
	color: var(--text); background-color: var(--hintergrund); }

/*body { background: linear-gradient(#999 .02em, transparent 0) 0 0 / auto .5rlh; } /* Grundlinienraster */

header, main, footer, article, section { display: block; }
.container, main { max-width: 43.5em; margin: 0 auto; }
.container { padding: 0 1.4em 0; }

header { position: relative; overflow: hidden; padding: .9rlh 0 .6rlh;
	background: radial-gradient(var(--opal1) var(--dotsize), transparent 0) 0/var(--dotdistance) var(--dotdistance) space; border-bottom: 1px solid var(--nebel) ;}
header::before, header::after { content: ""; position: absolute;
	z-index: -1; width: 110%; left: -5%; height: 150%; top: -25%; }
header::before { background: radial-gradient(var(--opal2) var(--dotsize), transparent 0) 0/ var(--dotdistance) var(--dotdistance);
  transform: rotate(-.9deg); }
header::after { background: radial-gradient(var(--opal3) var(--dotsize), transparent 0) 0/ var(--dotdistance) var(--dotdistance);
  transform: rotate(-.6deg); }

header .container { display: grid; grid-template-columns: 1fr;
	grid-template-rows: 2.5rlh 1rlh 1fr; gap: .5rlh; }
header a { color: var(--text) !important; text-decoration: none; }
header a:hover { text-decoration: underline !important; }
header .container > a { margin:0; font-size:1.8em; line-height:1rlh; }
header img { float:left; margin:-.1em .4em 0 0; width:2em; height:2em; }

#suchform { display: flex; margin: 0; height: 1rlh; width: 11.7em; }
#keyword { width: 100%; }
#suchform input { line-height: 1; } /* Lupe-Button */

nav ul { display: flex; flex-wrap: wrap; list-style: none;
	margin: .14em 0 -.14em; padding: 0; }
nav li { display: inline-block; margin-right: 1em; }
nav li:last-child { margin-right: 0; }
nav li a { font-size: 1.32em; }

@media (min-width: 28.5em) {
	header .container { grid-template-columns: 12rem 1fr;
	grid-template-rows: 2rlh 1rlh; }
	search { justify-self: end; }
	nav { grid-column: span 2; }
	nav ul { justify-content: end; } }
@media (min-width: 39.5em) {
	header .container { grid-template-rows: 1rlh 1rlh;
		margin: -.25rlh auto .25rlh; }
	header .container > a { grid-row: span 2; margin-top: .5rlh; }
	nav { grid-column: auto; } }

main { padding: .75rlh 1.4em 1rlh; }
footer { padding:1rlh 0 1.5rlh; background:var(--grau) var(--dotmask); }

/* Zweitschrift für Titel, Links und fett; Monospace-Schrift */
h1, h2, h3, b, strong, a, form label {
	font-family: czSlab, sans-serif; font-weight: bold; line-height: 1;
	font-size-adjust: .5; font-style: normal; /* damit nicht künstlich verschrägt, z.B. Links in Bilduntertitel */ }
h1, h2, h3, :is(h1,h2,h3) a { font-variant: lining-nums;
	letter-spacing:-.01em; font-feature-settings:'liga','clig','calt'; }
b, strong, a, form label { padding: 0 .04em; letter-spacing: 0; }
code, pre, kbd { font: .9em/1 'Source Code Pro', Consolas, Monaco,
	'Lucida Console', 'Andale Mono', 'DejaVu Sans Mono', monospace; }

/* ÜBERSCHRIFTEN */

h1 { font-size: 2.133em; line-height: 1.5rlh;
	margin: 1.5rlh 0 .5rlh -.03em; }
article h1:first-child { margin-top: 1rlh;}
h2 { font-size: 1.6em; line-height: 1rlh;
	margin: 1.1rlh 0 .4rlh -.04em; }
h2#kommentieren { margin-top: 1.2rlh;}
h3 { font-size: 1.2em; line-height: 1rlh;
	margin: .8rlh 0 .2rlh; }
h2 + h3 { margin-top: .7rlh; }
hr + h3 { margin-top: -.2rlh; }

/* FORMATIERUNGEN FÜR LESETEXTE */

p, ul, ol, details, figcaption {
	hyphens: auto; hyphenate-limit-chars: 6 2 3; }
.no-hyphens, .no-hyphens * { hyphens: manual; } /* Keine Trennung für Voriger-/Nächster-Link, Kommentarformatierungen */

p, ul, ol { margin: 0 0 .5rlh; }
p, details, figcaption { text-align: justify; word-spacing: -0.05em; }

.intro { font-size: 1.25em; line-height: 1rlh; margin: 0 0 1rlh;
	font-style: italic; letter-spacing: .01em; font-feature-settings: 'liga','clig','calt'; } 
.intro + p:not(.hinterlegt)::first-letter {
	float: left; margin: .09em .1em 0 -.03em; font-size: 6.04em;
	color: var(--grau); font-variant-numeric: lining-nums; }
@supports (background-clip: text) {
	.intro + p:not(.hinterlegt)::first-letter { background-clip: text;
	color: transparent; background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width=".2em" height=".2em" viewBox="0 0 4 4"><circle cx="1" cy="1" r=".8" fill="%23000"/><circle cx="3" cy="3" r=".8" fill="%23000"/></svg>'), linear-gradient(-20deg,var(--opal1) 0%, var(--opal2) 100%); } }
@supports (-webkit-initial-letter: 3) or (initial-letter: 3) {
	.intro + p:not(.hinterlegt)::first-letter { float:none; margin-top:0;
		-webkit-initial-letter: 3; initial-letter: 3; } }
.intro + p::first-line { font-variant:small-caps; font-synthesis:style;
	 letter-spacing: .06em; }

.spalten { margin:.5rlh 0; columns:12em; column-gap: 1.4em;}
.spalten * { text-align: left; }

i, em { font-style: italic; letter-spacing: .02em;
	font-feature-settings: 'liga','clig','calt'; }
b, strong { filter: contrast(300%); }

sup, sub { line-height: 0; letter-spacing: .05em; }
sup { font-variant-numeric: lining-nums; }
abbr, .smcp { font-variant-caps:all-small-caps; font-synthesis:none;
	letter-spacing:.06em; font-style:normal; text-decoration:none; }
kbd { font-size: .8em; display: inline-block; position: relative;
	top: -.1em; margin: 0 .2em; padding: .15em .35em .2em;
	background-color: var(--nebel); border: 1px solid var(--grau); border-radius: .2em; box-shadow: .08em .05em var(--schatten), hsla(0,0%,100%,.6) .15em .1em inset; }

time { color: var(--grau); word-spacing: -.1em; }
.intro time { font-style: normal; }
.intro time::after { content:' · '; }
@media (min-width: 35em) { /* Kommentardatum rechts oben */
	#kommentare time { float: right; margin-top: -1.28rlh; } }

hr { margin: 1.32rlh 0 1.1rlh; color: transparent;
	border-top: .07rlh dotted var(--grau); }

/* Angepasste Farbe für ::selection? Dagegen spricht https://alistapart.com/article/paint-the-picture-not-the-frame/#section6 */
::selection { background: var(--gruen2); color: var(--text); }
b::selection, strong::selection { background: var(--opal1); }
	/* gruen2 ist bei 300% Kontrast nicht mehr zu sehen */
:is(details, .hinterlegt, a[download])::selection, :is(details, .hinterlegt, a[download]) ::selection { background: var(--hintergrund); }

/* LISTEN, CODE, ZITATBLÖCKE */

ul, ol { padding-left: 1.15em; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }
ul { list-style: disc; }
ul ul { list-style: circle; }
ol ol { list-style: lower-alpha; }
li::marker { line-height: 0; }

blockquote, details, pre, code, .hinterlegt {
	margin: 0.6rlh 0 .65rlh; padding: .05rlh .7em .2rlh;
	-webkit-box-decoration-break: clone; box-decoration-break: clone; }
:not(p,div).hinterlegt,code {padding: 0 .35em .2em;} /* Inline-Elem. */
:is(blockquote, details, pre, code, .hinterlegt) + :is(blockquote, details, pre, code, .hinterlegt) { margin-top: .75rlh; }
:is(blockquote, details, pre, code, .hinterlegt) > :is(h1, h2, h3) {
	margin: .3rlh 0 .2rlh; }
:is(blockquote, details, pre, code, .hinterlegt) p:last-child {
	margin-bottom: 0; }
:is(blockquote, details, pre, code, .hinterlegt) + :is(h1, h2, h3) {
	padding-top: 0.15rlh; }

blockquote { border-left: .4em solid var(--gruen2); background-color: var(--nebel); }
@media (min-width: 28.5em) { blockquote { border-width: .75em; } }


.hinterlegt { background-image: var(--dotmask), linear-gradient(-10deg,var(--akzent) 0%, var(--gruen) 100%) }
details { background: var(--akzent) var(--dotmask); }

details::details-content { max-height: 0; overflow: hidden;
transition: max-height .2s ease-out; }
details[open]::details-content { max-height: 23em; }

summary { cursor: pointer; }
summary::marker { content: '+ '; }
details[open] summary::marker { content: '× '; }

pre, code { border-radius: .1em; background-color: var(--nebel); }
pre code { font-size: 1em; line-height: 1rlh; white-space: pre-wrap;
	background-color: transparent; }

/* LINKS (Schrift: Siehe oben bei b, strong) */

a { color: var(--gruen); text-decoration: underline;
	text-underline-offset: .17em; text-decoration-color: color-mix(in hsl, currentColor, transparent 35%);}
a:visited { color: var(--akzent); }
a[href]:hover { text-decoration: none; }
a:active { color: var(--aktiv) }

:focus-visible { outline:2px solid var(--grau); outline-offset:2px; }
iframe:focus-within { outline: none; }
:target {background-color:transparent;animation:target-fade ease-in 2s;}
@keyframes target-fade { 0% { background-color: var(--opal3); } }

a[download] { margin: 1rlh 1.5em; padding: .2rlh .7em; display: block;
	max-width: 18em; text-align: center; color: var(--text);
	font: inherit; background-color: var(--gruen2);
	border: 1.5px solid var(--gruen);
	box-shadow: 2px 2px 2px var(--schatten); }
a[download]:hover { border-color: var(--akzent); box-shadow: none; }
@media (min-width: 24.5em) { a[download] { margin: 1rlh auto; } }

a.anhoeren { color:inherit; font:inherit; text-decoration:underline dotted; cursor:help; }

.anhoeren::after, .icon-rss::after, .icon-ccbysa::after {
	padding: 0; display: inline-block; }
.anhoeren::after { width:.9em; height:.9em; margin: 0 0 0 .1em;
	vertical-align:.2em; background-color:var(--text); content:'';
	mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path fill="currentColor" d="M11 5 6 9H2v6h4l5 4V5z"/><path fill="none" d="M19 5a10 10 0 0 1 0 14M16 8a5 5 0 0 1 0 8"/></svg>'); } /* mit Maske, damit im Darkmode invertiert */
.icon-rss::after { width: .9em; margin: 0 .15em 0 .4em; vertical-align: -.1em; content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 14 14" preserveAspectRatio="xMinYMin meet"><g stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 13V1H1v12z" fill="%23f60" stroke="%23f60"/><path d="M11 11c1-9-8-8-8-8m4.5 8C8 6 3 6.5 3 6.5" fill="none" stroke="%23fff"/><circle cx="3.5" cy="10.5" r="1.5" fill="%23fff"/></g></svg>'); }
.icon-ccbysa::after { width: 4em; margin: 0 .15em 0 .4em;  vertical-align: -.2em; content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 60 15" preserveAspectRatio="xMinYMin meet"><defs><clipPath id="a"><path d="M3 2h18v11H3z"/></clipPath></defs><path d="M.4.4h59.6v14.6H.4z" fill="%23fff" stroke="%23000" stroke-width=".8"/><path d="M2 2h56v11H2z"/><path d="M2 2v11h20c2.5-3.7 2.5-7.7 0-11z" fill="%23aaa"/><g clip-path="url(%23a)"><ellipse cx="12.6" cy="7.5" rx="7" ry="6.5" fill="%23fff" stroke="%23000" stroke-width="1.4"/></g><path d="M11.5 6.8c-.2-.4-.5-.6-.9-.6-.6 0-1 .5-1 1.3 0 .9.3 1.3 1 1.3.4 0 .8-.2 1-.6l.9.5c-.4.8-1.1 1.1-2 1.1-.7 0-1.2-.2-1.7-.6-.4-.4-.6-1-.6-1.7s.2-1.2.6-1.6c.5-.4 1-.6 1.7-.6.9 0 1.6.4 2 1.1zm4.4 0c-.2-.4-.5-.6-.8-.6-.7 0-1 .4-1 1.3s.3 1.3 1 1.3c.4 0 .8-.2.9-.6l1 .5c-.4.8-1.1 1.1-2 1.1-.7 0-1.2-.2-1.7-.6-.4-.4-.6-1-.6-1.7s.2-1.2.6-1.6c.4-.4 1-.6 1.6-.6.9 0 1.6.4 2 1.1z"/><text style="line-height:1" x="27" y="10.4" font-weight="bold" font-size="8.5" font-family="Helvetica,Arial,sans-serif" fill="%23fff">BY-SA</text></svg>'); }

/* BILDER, AUDIO-ELEMENT */

img, figure, figure img { line-height: 0; border: 0; max-width: 100%; }
p > img { margin: .6rlh 0 .15rlh } /* Extra-Abstand zu dem vom <p> */

figure { margin: 1.1rlh 0 1rlh; background-color: var(--nebel); }
figcaption { padding: .25rlh .7em .4rlh; font-size: .9em;
	line-height: .75rlh; font-style: italic; letter-spacing: .03em;
	font-feature-settings: 'liga','clig','calt'; }

audio { margin: .6rlh 0 .15rlh; width: 100%; height: 1rlh; }

/* FORMULARE */

#kommentarformular { margin: 1rlh 0;}
input { font: inherit; font-size: .9em; height: 1rlh; }
textarea { font: inherit; min-height: 5rlh; margin: .3rlh 0 .1rlh;
	overflow:auto; resize:vertical; width:100%; field-sizing:content; }
form > div { min-height: 1.5rlh; margin-bottom: .5rlh; }

form label::after { content: ':'; }
form > div > div { width: 98.8%; }
input { width: 100%; }
input[type='submit'] { width: auto; }
#kommentarformular [type='submit'] { height: 1.15rlh; margin:.25rlh 0; }

@media (min-width: 28.5em) {
	#kommentarformular input:not([type=submit]) { width: 50%; }
	#spamfrage input { width: 39% !important; } }

@media (min-width: 39.5em) {
	#kommentarformular { margin: 1.25rlh 0 .75rlh; }
	form label { position: relative; float: left; top:.5rlh; width:15%; }
	form > div > div { float: right; width: 85%; }
	#kommentarformular input:not([type=submit]) {
		width: 55%; margin: .25rlh 0; }
	#spamfrage label { width: 25% }
	#spamfrage div { width: 75% }
	#spamfrage input { width: 35% !important; } }

/* ÄNDERUNGEN, WENN FENSTER SCHMALER */

@media (max-width:35em) {
	.container, main { padding-left: 5%; padding-right:3% }
	p { text-align: left; word-spacing: inherit; }
	/* Optischer Randausgleich für Blockelemente mit sichtbarem Rand */
	hr, pre, blockquote, .hinterlegt, details, audio, textarea {
		width: 98.8%; }
	.hinterlegt > audio { width: 100%; }
		img, figure { max-width: 98.8%; }
	#kommentare time { padding-right: 1.2%;} }

/* ANPASSUNGEN FÜR DEN DRUCK */

@media print {
@page { margin: 1.5cm 1.5cm 2cm; }
body { background-image: none; }
header, main, footer, .container { width: 100%; }

footer,figure,blockquote,.hinterlegt,details,pre,code,a[download] {
	background: #fff; border: 1px solid #666; break-inside: avoid; }
pre > code { border: 0; }

h1, h2, h3, time {
	break-after: avoid; break-inside: avoid; color: #222; }
p, ul, ol, code, pre, figcaption, blockquote, a:link, a:visited {
	color: #000; }

p, ul, ol { widows: 2; orphans: 2; }

/* Im Druck geöffnet */
details::details-content {
	content-visibility: visible; max-height: fit-content; }

img { break-inside: avoid; }
article div { print-color-adjust: exact !important;
	/* Slicing-Hintergrundbilder drucken */}

#suchform, .no-print, a[href$='#kommentieren'], a[href$='#kommentare'] {
	display: none; }
a[href]::after { content: ' [' attr(href) ']';
	font: italic 1rem/1rlh Charis,Charter,'Bitstream Charter','Sitka Text',Cambria,serif;
	margin: 0; width: auto; vertical-align: inherit; /* Reset für Links, die ein Icon gehabt hätten */ }
a[href^='#']::after, a[href^='javascript']::after, a.anhoeren::after, header a[href]::after, a[href^='archiv.html?']::after {
	content: ''; margin:0; }
a.anhoeren { text-decoration: none; }
}
