/* CSS-Anpassungen für Seiten im Extra-Bereich */

/* identisches Hintergrundbild, aber mit Lila */
body { background-image: repeating-linear-gradient(110deg, transparent, hsla(0, 0%, 100%, .4) 91px, hsla(0, 0%, 100%, .1) 214px), repeating-linear-gradient(10deg, transparent, hsla(0, 0%, 100%, .1) 130px, hsla(0, 0%, 100%, .2) 243px), repeating-linear-gradient(325deg, transparent, hsla(0, 0%, 100%, .3) 81px, hsla(0, 0%, 100%, .3) 293px), linear-gradient(90deg, transparent 51rem, #dbd 80%, #839 100%); }

header img, a[download], blockquote { filter: hue-rotate(182deg); }

aside { display: none; }
nav { display: inherit; }
nav li:nth-child(2) a { color: #c2b !important; }

time { float: left; padding: 0; margin-top: 1em; }
time::after { content:"·"; padding: 0 .3em;}