/* CSS-Anpassungen für Seiten im Extra-Bereich */

/* identisches Hintergrundbild, aber mit Lila */
:root { --hg-bild: repeating-linear-gradient(110deg, transparent, hsla(0, 0%, 100%, .4) 91px, hsla(0, 0%, 100%, .1) 214px), repeating-linear-gradient(10deg, transparent, hsla(0, 0%, 100%, .1) 130px, hsla(0, 0%, 100%, .2) 243px), repeating-linear-gradient(325deg, transparent, hsla(0, 0%, 100%, .3) 81px, hsla(0, 0%, 100%, .3) 293px), linear-gradient(90deg, transparent 51rem, var(--akzent-blass) 80%, var(--akzent-basis) 100%); }

@media screen and (prefers-color-scheme: dark) {
:root { --hg-bild: repeating-linear-gradient(110deg, transparent, rgba(0,0,0,.4) 91px, rgba(0,0,0,.1) 214px),
	repeating-linear-gradient(10deg, transparent, rgba(0,0,0,.1) 130px, rgba(0,0,0,.2) 243px),
	repeating-linear-gradient(325deg, transparent, rgba(0,0,0,.3) 81px, rgba(0,0,0,.3) 293px),
	linear-gradient(90deg, transparent 51rem, var(--akzent-blass) 80%, var(--akzent-basis) 100%); } }

@media (max-width: 45em) {
	body { border-top-color: var(--akzent-basis); } }

header img, a[download], blockquote { filter: hue-rotate(182deg); }

aside { display: none; }
nav { display: inherit; }
nav li:nth-child(2) a { color: var(--akzent-aktiv) !important; }

time { float: left; padding: 0; margin-top: 1em; }
time::after { content:"·"; padding: 0 .3em;}